<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="test" ng-controller="index">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<!-- <title>{{labels.dashboard.name}}</title> -->
<title>Student Registration</title>
</head>
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/angular.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="controllers/controller.js"></script>
<body>
<div class="container">
	<div class="jumbotron">
		<h1>Student Registration</h1>
	</div>
</div>

</body>
</html>