<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css" />
<script src="js/angular.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="controllers/controller.js"></script>
<body>
	<div class="container" ng-app="test" ng-controller="index">
		<h3>Enter student details</h3>
		<fieldset>
			<input type="text" ng-model="name" placeholder="Name"> <input
				type="number" ng-model="age" placeholder="Age"> <input
				type="text" ng-model="title" placeholder="Branch">
			<button type="button" ng-click="addPerson()">Add</button>
		</fieldset>
		<h3>Students list</h3>
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Name</th>
					<th>Age</th>
					<th>Branch</th>
					<th></th>
				</tr>
			</thead>
			<tr ng-repeat="stud in student">
				<td>{{stud.name}}</td>

				<td>{{stud.age}}</td>

				<td>{{stud.title}}</td>

				<td>
					<button type="button" ng-click="remove($index)">Remove</button>
				</td>
			</tr>
		</table>
	</div>

</body>
</html>